<header th:fragment="header">
    <nav class="navbar sticky-top navbar-expand-md border-3 border-primary " >
        <div class="container px-lg-5" >
            <a class="navbar-brand" href="/publicaciones/tabla-todo-publicacion">PermutAr</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/publicaciones/tabla-todo-publicacion-vehiculo}">vehiculos</a></li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/publicaciones/tabla-todo-publicacion-propiedad}">Propiedades</a></li>
                    <form class="d-flex mb-0 mb-lg-0 ms-5" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    </form>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/publicaciones/tabla-todo-publicacion-perfil}">Mis publicaciones</a></li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle ms-xxl-auto px-lg-5" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Perfil
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" th:href="@{/perfiles/tabla-perfil}">Mi Perfil</a></li>
                            <li><a class="dropdown-item" href="">Añadir vehiculo</a></li>
                            <li><a class="dropdown-item" th:href="@{/propiedades/formulario-insertar-propiedad}">Añadir propiedad</a></li>

                        </ul>
                    </li>

                </ul>
                <ul class="navbar-nav ms-5 mb-lg-0 ms-auto btn  btn-sm">
                    <li class="nav-nav"><a class="nav-link" role="button" href="/logout">Cerrar Sesión</a></li>
                </ul>
            </div>
        </div>
    </nav>

</header>