<header th:fragment="header">
    <nav class="navbar sticky-top navbar-expand-md border-3 border-primary " >
        <div class="container px-lg-5" >
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li  class="nav-item">
                        <a class="nav-link" href="/publicaciones/tabla-todo-publicacion">PermutAr</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/publicaciones/tabla-todo-publicacion-perfil}">Mis publicaciones</a></li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/publicaciones/formulario-insertar/__${idPerfil}__}">Agregar publicacion</a></li>
                    <li class="nav-item">
                        <form th:action="@{/publicaciones/tabla-todo-publicacion-palabra-clave-tipo}" method="GET" class="row">
                            <div class="col-auto">
                                <label for="inputPassword2" class="visually-hidden">Buscar</label>
                                <input th:name="palabra" type="search" class="form-control" id="inputPassword2" placeholder="Buscar">
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-primary">🔍</button>
                            </div>
                        </form>
                    </li>
                    <li class="nav-item"><a class="nav-link" role="button" th:href="@{/perfiles/tabla-perfil}">Mi Perfil</a></li>
                    <li sec:authorize="hasRole('ADMINISTRADOR')"  class="nav-item"><a class="nav-link" role="button" th:href="@{/perfiles/tabla-administrar-perfil}">Administrar perfiles</a></li>
                    <li sec:authorize="hasRole('ADMINISTRADOR')"  class="nav-item"><a class="nav-link" role="button" th:href="@{/provincias/tabla}">Admin. provincias</a></li>
                    <li sec:authorize="hasRole('ADMINISTRADOR')"  class="nav-item"><a class="nav-link" role="button" th:href="@{/tipos/tabla}">Admin. tipologias</a></li>
                    <li sec:authorize="hasRole('ADMINISTRADOR')"  class="nav-item"><a class="nav-link" role="button" href="">Publicaciones eliminadas</a></li>
                    <li class="nav-item"><a class="nav-link" role="button" href="/logout">Cerrar Sesión</a></li>
                </ul>

            </div>
        </div>
    </nav>

</header>