<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/head :: head"></head>

<body>
<!-- Header-->
<header th:replace="fragments/navbar :: header"></header>
<div class="px-lg-5">
    <div
            id="carouselExampleCaptions"
            class="carousel slide"
            data-bs-ride="false"
    >
        <div class="carousel-indicators">
            <button
                    type="button"
                    data-bs-target="#carouselExampleCaptions"
                    data-bs-slide-to="0"
                    class="active"
                    aria-current="true"
                    aria-label="Slide 1"
            ></button>
            <button
                    type="button"
                    data-bs-target="#carouselExampleCaptions"
                    data-bs-slide-to="1"
                    aria-label="Slide 2"
            ></button>
            <button
                    type="button"
                    data-bs-target="#carouselExampleCaptions"
                    data-bs-slide-to="2"
                    aria-label="Slide 3"
            ></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active" style="background:#000">
                <img
                        src="/img/foto1.jpg"
                        class="d-block"
                        alt="..."
                        width="1400"
                        style="opacity: 0.5;"

                />
                <div class="carousel-caption d-none d-md-block">
                    <h5>Switch and trade</h5>
                    <p>
                        Primera pagina de intercambio de bienes priorizando tu
                        privacidad!
                    </p>
                </div>
            </div>
            <div class="carousel-item" style="background:#000";>
                <img
                        src="/img/foto2.jpg"
                        class="d-block"
                        alt="..."
                        width="1400"
                        style="opacity: 0.5;"
                />
                <div class="carousel-caption d-none d-md-block">
                    <h5>Switch & Trade</h5>
                    <p>
                        Publica lo que tienes para lo que ofreses y indica aquello que buscas
                    </p>
                </div>
            </div>
            <div class="carousel-item" style="background:#000">
                <img
                        src="/img/foto3.jpg"
                        class="d-block"
                        alt="..."
                        width="1400"
                        style="opacity: 0.5;"
                />
                <div class="carousel-caption d-none d-md-block">
                    <h5>Third slide label</h5>
                    <p>
                        Si encuentras a alquien que quiera lo que ofreces podras comunicarte y cerrar el trato!!
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>


<section class="pt-4">
    <div class="container px-lg-5">
        <!-- Page Features-->
        <div class="row gx-lg-5">
            <div class="col-lg-4 col-xxl-4">
                <a class="nav-link" href="/login-form.html">
                <div class="card">
                    <img src="/img/gol.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quicd on the cardhe bulk of the card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-center" style="font-style: oblique ;" >Me interesa</li>
                        <li class="list-group-item">terreno urbano</li>
                        <li class="list-group-item">motocicleta</li>
                        <li class="list-group-item">helicoptero apache</li>
                    </ul>

                </div>
                </a>
            </div>
            <div class="col-lg-4 col-xxl-4">
                <a class="nav-link" href="/login-form.html">
                <div class="card" >
                    <img src="/img/gol.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Gol Trend</h5>
                        <p class="card-text">En realidad no se si es un gol trend pero bueno</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-center" style="font-style: oblique ;" >Me interesa</li>
                        <li class="list-group-item">terreno urbano</li>
                        <li class="list-group-item">motocicleta</li>
                        <li class="list-group-item">helicoptero apache</li>
                    </ul>

                </div>
                </a>
            </div>

            <div class="col-lg-4 col-xxl-4 ">


                <a class="nav-link" href="/login-form.html">
                <div class="card" >
                    <img src="/img/partner.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">partner</h5>
                        <p class="card-text">Ni idea si es una partner o no o que es que es no se.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-center" style="font-style: oblique ;" >Me interesa</li>
                        <li class="list-group-item">terreno urbano</li>
                        <li class="list-group-item">motocicleta</li>
                        <li class="list-group-item">helicoptero apache</li>
                    </ul>

                </div>
                </a>
            </div>

        </div>
    </div>
</section>


<footer th:replace="fragments/footer :: footer"></footer>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script src="https://kit.fontawesome.com/c9ab963329.js" crossorigin="anonymous"></script>

</body>

</html>