@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

.container a{
color:gold;
}
* {
  font-family: "Poppins", sans-serif;
}
.navbar {
  background-color: #55545459;
}
h2 {
    font-style: italic;
}
body{
background-image: url("/img/fondazo.jpg");
background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}


@keyframes fanimado {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0%, 50%;
    }
}
.card {
 background-image: linear-gradient(135deg, #000000, gold, rgba(94, 91, 91, 0.651), rgb(196, 152, 7), rgb(255, 187, 0));
    background-size: 500%;
    animation: fanimado 10s infinite;
  color: #000000;
  margin-bottom: 20px;
  width: 100%;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  overflow: hidden;
  box-shadow: 0px 1px 10px rgba(0, 0, 0,0.2);
  cursor: pointer;
  transition: all 400ms ease;
  -webkit-transition: all 400ms ease;
  -moz-transition: all 400ms ease;
  -ms-transition: all 400ms ease;
  -o-transition: all 400ms ease;
}

.card li {
 background-image: linear-gradient(135deg,rgb(206, 175, 2), gold);

  list-style: none;
  padding: 10px;
 color: #000000;
}

.card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0,0.4);
  transform: translateY(-3%);
  -webkit-transform: translateY(-3%);
  -moz-transform: translateY(-3%);
  -ms-transform: translateY(-3%);
  -o-transform: translateY(-3%);
}
.card img {
  width: 100%;
  height: 200px;
}
.btn {
  margin-bottom: 20px;
}
.portada{
margin:auto;
padding: auto;
width:80%;
height:120px;
text-align: center;
justify-content: center;
display:flex;
background-image: linear-gradient(135deg, #000000, gold, rgba(94, 91, 91, 0.651), rgb(196, 152, 7), rgb(255, 187, 0));
background-size: 500%;
animation: fanimado 10s infinite;
border-radius: 5px;
}