<!DOCTYPE html>
<html>

<head>
    <title>Error de página 404</title>
    <link rel="stylesheet" type="text/css"  ><link rel="stylesheet" th:href="@{/css/estilo.css}">
</head>

<body>
    <div id="container">
        <div class="content">
            <h2>404</h2>
            <h4>¡Opps!Página no encontrada</h4>
            <p>La página que estabas buscando no existe. Es posible que hayas escrito mal la dirección o que la página se haya movido.</p>
            <a href="http://localhost:8080/publicaciones/tabla-todo-publicacion">Volver a la página de inicio</a>
        </div>
    </div>
    
</body>

</html>