<head th:replace="fragments/head-forms :: head"></head>

<header th:replace="fragments/navbar-logueado :: header"></header>
<html>
<body>
<div class="tarjetas">
    <div class="row">
        <div class="col col-lg-12">
            <div class="card text-bg-secondary">
                <div class="card-header">
                    <h4 class="text-center">Inserte Datos de Propiedad</h4>
                </div>
                <div class="card-body">
                    <form th:action="@{/propiedades/insertar-propiedad}" autocomplete="off" class="needs-validation" novalidate><!--method="post"  th:object="${objetoPropiedadVacio}"-->
                    <div class="form-floating mb-3">
                        <select
                                class="form-select"
                                id="floatingSelect"
                                aria-label="Floating label select example"
                        >
                            <option selected>Selecciona el tipo de propiedad</option>
                            <option value="1">Urbano</option>
                            <option value="2">Natural</option>
                            <option value="3">Terreno con casa</option>
                            <option value="4">casa</option>
                        </select>
                        <label for="floatingSelect">Tipo de propiedad</label>
                    </div>
                    <div class="form-floating mb-3">
                        <select
                                class="form-select"
                                id="floatingSelect3"
                                aria-label="Floating label select example"
                        >
                            <option selected>
                                Selecciona el tamaño de la superficie
                            </option>
                            <option value="1">menos de 100</option>
                            <option value="2">entre 100 y 200</option>
                            <option value="3">entre 200 y 350</option>
                            <option value="4">entre 350 y 500</option>
                            <option value="5">mas de 500</option>
                        </select>
                        <label for="floatingSelect3">Rango de superficie [m2]</label>
                    </div>
                    <!-- <div class="form-floating mb-3">
                        <select
                                class="form-select"
                                id="floatingSelect2"
                                aria-label="Floating label select example"
                        >
                            <option selected>
                                Selecciona la provincia donde se ubica la propiedad
                                      </option>
                                      <option value="1">Misiones</option>
                                      <option value="2">Mendoza</option>
                                      <option value="3">Jupiter</option>
                                      <option value="4">Tierra do fogo</option>
                                      <option value="5">Corrientes</option>
                                  </select>
                               label for="floatingSelect2">Provincia</label>
                              </div> -->
                              <div class="form-floating mb-3">
                                  <select
                                          class="form-select"
                                          aria-label="Floating label select example"
                                  >
                                      <option selected>
                                          Selecciona el departamento donde se ubica la propiedad
                                      </option>
                                      <option value="1">Posadas</option>
                                      <option value="2">Oberá</option>
                                      <option value="3">Garupá</option>
                                      <option value="4">Alba Pose</option>
                                      <option value="5">Iguazú</option>
                                  </select>
                                  <label for="floatingSelect">Departamento</label>
                              </div>
                             <div class="form-floating mb-3">
                              <!--     <select multiple
                                          class="form-select"
                                          id="floatingSelect1"
                                          aria-label="Floating label select example"
                                  >
                                      <option selected>
                                          Selecciona Que quieres a cambio por tu propiedad
                                      </option>
                                      <option value="1">Motocicleta</option>
                                      <option value="2">Automovil</option>
                                      <option value="3">Camioneta</option>
                                      <option value="4">Vehiculo acuatico</option>
                                      <option value="5">Terreno con casa</option>
                                      <option value="6">terreno urbano</option>
                                      <option value="7">Terreno en el monte</option>
                                  </select>
                                  <label for="floatingSelect1">Deseos</label> -->
                                  <div class="mb-3 text-center">
                                      <label for="formFile" class="form-label"
                                      >Cargar Foto de la propiedad</label>
                                      <input class="form-control" type="file" id="formFile" />
                                  </div>
                                  <div class="mb-3 text-center">
                                      <label for="exampleFormControlTextarea1" class="form-label"
                                      >Añade una descripcion de la propiedad</label>
                                      <textarea
                                              class="form-control"
                                              id="exampleFormControlTextarea1"
                                              rows="3">
                                      </textarea>
                                  </div>

                              </div>


                              <div class="text-center">
                                  <button type="submit" class="btn" style="background-color: rgb(192, 113, 9);">
                                      <a class="nav-link" style="color: #fff" th:href="">Cargar mi propiedad</a>
                                  </button>

                              </div>
                            </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          </body>
          <footer th:replace="fragments/footer :: footer"></footer>
          <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
          <script src="https://kit.fontawesome.com/c9ab963329.js" crossorigin="anonymous"></script>
          </html>