<!--
orden de aparicion

perfil input hidden
foto input
tipopropiedad select
descripcion text
superficie number
provincia select
localidad text
deseados 2 select
-->

<head th:replace="fragments/head-matches :: head"></head>

<header th:replace="fragments/navbar-logueado :: header"></header>
<html>
<body>
<div class="portada text-center mt-4">
    <h2 class="mt-5 mb-5">Publica tu publicacion inmueble y lo que buscas a cambio</h2>
</div>
<div class="match">
    <div class="row mt-5">

        <div class="col col-lg-12">
            <div class="card text-bg-secondary">
                <div class="card-header">
                    <h4 class="text-center">Inserte Datos de Propiedad</h4>
                </div>
                <div class="card-body">
                    <form th:action="@{/propiedades/__${accion}__}" th:object="${objetoPropiedad}" method="post" autocomplete="off" class="needs-validation" enctype="multipart/form-data" novalidate><!-- th:action="@{/propiedades/insertar-publicacion}" method="post"  th:object="${objetoPropiedadVacio}"-->
                        <input type="hidden" th:field="*{id}">
                        <input type="hidden" th:field="*{perfil}">
                        <input type="hidden" th:field="*{eliminado}">

                        <div th:if="${accion.equals('actualizar-publicacion')}" class="col-4">
                            <img class="rounded mx-auto d-block"
                                 th:src="${objetoPropiedad.foto} ? @{/uploads/__${objetoPropiedad.foto}__} : @{/uploads/fotodefault.jpg}"
                                 alt="🖤 Thymeleaf 🖤">
                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control mt-2" type="file" name="propiedadfotoname" accept="image/*">
                            </div>
                        <div class="form-floating mb-3">
                            <select th:field="*{tipo}" class="form-select" id="floatingSelect" aria-label="Floating label select example"> <!---->
                                <option selected value="">
                                    Selecciona el tipo de publicacion
                                </option >
                                <option th:each="tipo : ${listaTipoPropiedad}" th:text="${tipo.nombre}" th:value="${tipo.id}">
                                </option>
                            </select>
                            <label for="floatingSelect">Tipo de publicacion</label>
                        </div>
                        <div class="form-floating mb-3">
                            <div class="mb-3 text-center">
                                <label for="exampleFormControlTextarea1" class="form-label"
                                >Añade una descripcion corta</label>
                                <textarea
                                        class="form-control"
                                        id="exampleFormControlTextarea1"
                                        rows="1"
                                        th:field="*{descripcionCorta}">
                                      </textarea>
                            </div>
                        </div>
                        <label for="basic-url" class="form-label">Ingrese superficie de la publicacion</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon3">Metros cuadrados (m2):</span>
                            <input th:field="*{superficie}" type="number" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                        </div>
                    <div class="form-floating mb-3">
                        <select
                                class="form-select"
                                id="floatingSelect9"
                                aria-label="Floating label select example"
                                th:field="*{provincia}" th:value="${objetoPropiedad.provincia}"
                        >
                            <option selected value="">
                                Selecciona la provincia donde se ubica la publicacion
                            </option>
                            <option th:each="i : ${listaProvincia}" th:text="${i}"
                                    th:value="${i}"></option>
                                  </select>
                        <label for="floatingSelect2">Provincia</label>
                              </div>


                        <label for="basic-url" class="form-label">Departamento</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addvon3">Departamento:</span>
                            <input th:field="*{localidad}" type="text" class="form-control" id="basic-furl" aria-describedby="basic-addon3">
                        </div>
                             <div class="form-floating mb-3">
                                  <div class="mb-3 text-center">
                                      <label for="exampleFormControlTextarea1" class="form-label"
                                      >Añade una descripcion completa</label>
                                      <textarea
                                              class="form-control"
                                              id="exampleFormControlTextareas1"
                                              rows="3"
                                              th:field="*{descripcion}">
                                      </textarea>
                                  </div>
                              </div>
                        <div class="form-floating mb-3">
                            <select  class="form-select"
                                     id="floatingSelect1"
                                     aria-label="Floating label select example"
                                     th:field="*{tipoDeseado1}" th:value="${objetoPropiedad.tipoDeseado1}"> <!--th:field="*{tipo}"-->
                                <option selected value="">
                                    tipo de publicacion o vehiculo que quieres a cambio
                                </option>
                                <option th:each="i : ${listaTipoPropiedad}" th:text="${i.nombre}"
                                        th:value="${i.nombre}"></option>
                            </select>
                            <label for="floatingSelect1">Que deseas a cambio?</label>
                        </div>

                        <div class="form-floating mb-3">
                            <select  class="form-select"
                                     id="floatingSelect2"
                                     aria-label="Floating label select example"
                                     th:field="*{tipoDeseado2}" th:value="${objetoPropiedad.tipoDeseado2}"> <!--th:field="*{tipo}"-->
                                <option selected value="">
                                    tipo de publicacion o vehiculo que quieres a cambio
                                </option>
                                <option th:each="i : ${listaTipoPropiedad}" th:text="${i.nombre}"
                                        th:value="${i.nombre}"></option>
                            </select>
                            <label for="floatingSelect2">Que deseas a cambio?</label>
                        </div>

                              <div class="text-center">
                                  <button type="submit" class="btn" style="background-color: rgb(192, 113, 9);">
                                      <a class="nav-link" style="color: #fff">Guardar</a>
                                  </button>

                              </div>
                            </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          </body>
          <footer th:replace="fragments/footer :: footer"></footer>
          <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
          <script src="https://kit.fontawesome.com/c9ab963329.js" crossorigin="anonymous"></script>
          </html>