<head th:replace="fragments/head-matches :: head"></head>

<header th:replace="fragments/navbar-logueado :: header"></header>
<html>
<body>
<div class="portada text-center mt-4">
    <h2 class="mt-5 mb-5">creando formulario</h2>
</div>
<div class="match">
    <div class="row mt-5">

        <div class="col col-lg-12">
            <div class="card text-bg-secondary">
                <div class="card-header">
                    <h4 class="text-center">Inserte Datos de Propiedad</h4>
                </div>
                <div class="card-body">
                    <form autocomplete="off" class="needs-validation" novalidate><!-- th:action="@{/propiedades/insertar-propiedad}" method="post"  th:object="${objetoPropiedadVacio}"-->

                        <div class="form-floating mb-3">
                            <select class="form-select" id="floatingSelect" aria-label="Floating label select example"> <!--th:field="*{tipoPropiedad}"-->
                                <option selected>
                                    Selecciona el tipo de propiedad
                                </option><!--th:each="tipoPropiedad : ${listaTipoPropiedad}" th:text="${tipoPropiedad.nombre}" th:value="${tipoPropiedad.id}"-->
                                <option >

                                </option>
                                <option value="1">tipo 1</option>
                                <option value="2">tipo 2</option>
                                <option value="3">tipo 3</option>
                                <option value="4">tipo 4</option>
                                <option value="5">tipo 5</option>
                            </select>
                            <label for="floatingSelect">Tipo de propiedad</label>
                        </div>

                        <label for="basic-url" class="form-label">Ingrese superficie de la propiedad</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon3">Metros cuadrados::</span>
                            <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
                        </div>
                    <div class="form-floating mb-3">
                        <select
                                class="form-select"
                                id="floatingSelect9"
                                aria-label="Floating label select example"
                        >
                            <option selected>
                                Selecciona la provincia donde se ubica la propiedad
                                      </option>
                                      <option value="1">Misiones</option>
                                      <option value="2">Mendoza</option>
                                      <option value="3">Jupiter</option>
                                      <option value="4">Tierra do fogo</option>
                                      <option value="5">Corrientes</option>
                                  </select>
                        <label for="floatingSelect2">Provincia</label>
                              </div>
                        <label for="basic-url" class="form-label">Departamento</label>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addvon3">Departamento:</span>
                            <input type="number" class="form-control" id="basic-furl" aria-describedby="basic-addon3">
                        </div>
                             <div class="form-floating mb-3">

                                  <div class="mb-3 text-center">
                                      <label for="formFile" class="form-label"
                                      >Cargar Foto de la propiedad</label>
                                      <input class="form-control" type="file" id="formFile" />
                                  </div>
                                  <div class="mb-3 text-center">
                                      <label for="exampleFormControlTextarea1" class="form-label"
                                      >Añade una descripcion de la propiedad</label>
                                      <textarea
                                              class="form-control"
                                              id="exampleFormControlTextarea1"
                                              rows="3">
                                      </textarea>
                                  </div>

                              </div>
                        <div class="form-floating mb-3">
                            <select class="form-select" id="floatingSelect1" aria-label="Floating label select example"> <!--th:field="*{tipoPropiedad}"-->
                                <option selected>
                                    Selecciona lo que deseas.
                                </option><!--th:each="tipoPropiedad : ${listaTipoPropiedad}" th:text="${tipoPropiedad.nombre}" th:value="${tipoPropiedad.id}"-->
                                <option >

                                </option>
                                <option value="1">tipo 1</option>
                                <option value="2">tipo 2</option>
                                <option value="3">tipo 3</option>
                                <option value="4">tipo 4</option>
                                <option value="5">tipo 5</option>
                            </select>
                            <label for="floatingSelect1">Que deseas a cambio?</label>
                        </div>
                        <div class="form-floating mb-3">
                            <select class="form-select" id="floatingSelect2" aria-label="Floating label select example"> <!--th:field="*{tipoPropiedad}"-->
                                <option selected>
                                    Selecciona lo que deseas.
                                </option><!--th:each="tipoPropiedad : ${listaTipoPropiedad}" th:text="${tipoPropiedad.nombre}" th:value="${tipoPropiedad.id}"-->
                                <option >

                                </option>
                                <option value="1">tipo 1</option>
                                <option value="2">tipo 2</option>
                                <option value="3">tipo 3</option>
                                <option value="4">tipo 4</option>
                                <option value="5">tipo 5</option>
                            </select>
                            <label for="floatingSelect2">Que deseas a cambio?</label>
                        </div>
                        <div class="form-floating mb-3">
                            <select class="form-select" id="floatingSelect3" aria-label="Floating label select example"> <!--th:field="*{tipoPropiedad}"-->
                                <option selected>
                                    Selecciona lo que deseas.
                                </option><!--th:each="tipoPropiedad : ${listaTipoPropiedad}" th:text="${tipoPropiedad.nombre}" th:value="${tipoPropiedad.id}"-->
                                <option >

                                </option>
                                <option value="1">tipo 1</option>
                                <option value="2">tipo 2</option>
                                <option value="3">tipo 3</option>
                                <option value="4">tipo 4</option>
                                <option value="5">tipo 5</option>
                            </select>
                            <label for="floatingSelect3">Que deseas a cambio?</label>
                        </div>
                              <div class="text-center">
                                  <button type="button" class="btn" style="background-color: rgb(192, 113, 9);">
                                      <a class="nav-link" style="color: #fff">Cargar mi propiedad</a>
                                  </button>

                              </div>
                            </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          </body>
          <footer th:replace="fragments/footer :: footer"></footer>
          <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
          <script src="https://kit.fontawesome.com/c9ab963329.js" crossorigin="anonymous"></script>
          </html>