<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head-login :: head"></head>

<body>

<section>
    <div class="container">
        <div th:if="${error}" th:text="${error}" class="alert alert-danger shadow text-center"></div>
        <div th:if="${logout}" th:text="${logout}" class="alert alert-success shadow text-center"></div>
        <div class="user singiBx">

            <div class="imgBx"><a th:href="@{/index}"> <img src="/img/bool.jpg"></a> </div>
            <div class="formBx">
                <form th:action="@{/logincheck}" method="post" autocomplete="on" class="needs-validation mb-4"
                      novalidate >
                    <h2>Inicie sesión</h2>
                    <div class="form-group mb-3">
                        <input type="email" name="emailname" placeholder="Email" class="form-control" required/>
                        <div class="invalid-feedback text-start">Email is required</div>
                    </div>

                    <div class="form-group mb-3">
                        <input type="password" name="clavename" placeholder="Password" class="form-control"
                               required/>
                        <div class="invalid-feedback text-start">Password is required</div>
                    </div>

                    <div class="form-group d-grid gap-2">
                        <button class="btn btn-success" type="submit">Iniciar Sesion</button>
                    </div>
                    <p class="signup">No tienes una cuenta? <a href="#" th:onclick="toggleform()">RegÍstrate.</a></p>

                </form>
            </div>


        </div>
        <div class="user singupBx">
            <div th:if="${exception}" th:text="${exception}" class="alert alert-danger shadow text-center"></div>
            <div class="formBx">
                <form th:action="@{/perfiles/insertar}" th:object="${objetoPerfil}" method="post">
                    <h2>Crear una cuenta</h2>
                    <input type="hidden" th:field="*{rol}"/>
                    <input type="hidden" th:field="*{eliminado}"/>
                    <div class="form-group mb-3">
                        <input type="email" th:field="*{email}" placeholder="Email" class="form-control"
                               required/>
                        <div class="invalid-feedback text-start">Email is required</div>
                    </div>
                    <div class="form-group mb-3">
                        <input type="password" th:field="*{clave}"  placeholder="Password"
                               class="form-control"
                               required/>
                        <div class="invalid-feedback text-start">Password is required</div>
                    </div>
                    <div class="form-group mb-3">
                        <input type="text" th:field="*{nombre}"  placeholder="Nombre"
                               class="form-control"
                               required/>
                        <div class="invalid-feedback text-start">Name is required</div>
                    </div>
                    <div class="form-group mb-3">
                        <input type="text" th:field="*{apellido}"  placeholder="Apellido"
                               class="form-control"
                               required/>
                        <div class="invalid-feedback text-start">surname is required</div>
                    </div>
                    <div class="form-group mb-3">
                        <input type="number" th:field="*{telefono}"  placeholder="telofono"
                               class="form-control"
                               required/>
                        <div class="invalid-feedback text-start">phone is required</div>
                    </div>

                    <div class="form-floating mb-3">

                    </div>
                    <div class="form-group d-grid gap-2">
                        <button class="btn btn-success" type="submit">Enviar</button>
                    </div>

                    <p class="signup">Ya tienes una cuenta? <a href="#" th:onclick="toggleform()">Iniciar.</a></p>

                </form>
            </div>
            <div class="imgBx"><a th:href="@{/}"> <img src="/img/bool.jpg"></a> </div>


        </div>
    </div>

</section>
<footer th:replace="fragments/footer :: footer"></footer>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/validation.js}"></script>
<script th:src="@{/js/login.js}"></script>

</body>

</html>