<!DOCTYPE html>
<html lang="en">


<head th:replace="fragments/head :: head"></head>
<body>
<header class="mb-5">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a th:href="@{/}" class="navbar-brand">switch and trade</a>
            <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/perfiles/formulario-iniciar-sesion-o-insertar-perfil}">Entrar</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <div class="img-portada">
        <img src="/img/pexels.gif" alt="">
    </div>
</header>
<row>
    <div class="text-center bienvenida">
        <h1>Bienvenido a PermutAr</h1>
        <h2> Donde podra intercambiar vehiculos y propiedades de manera simple!</h2>
    </div>
</row>
<div class="nido">
    <div class="card">
        <div class="face front">
            <img src="/img/foto2.jpg" alt="">
            <h3> Trato</h3>
        </div>
        <div class="face back">
            <h3>Trato</h3>
            <p>El trato en privacidad es nuestra prioridad, que solo puedan contactar contigo,
                las personas que tienen lo que necesitas
            </p>
        </div>
    </div>
    <div class="card">
        <div class="face front">
            <img src="/img/foto1.jpg" alt="">
            <h3> Privacidad</h3>
        </div>
        <div class="face back">
            <h3>Trato</h3>
            <p>El trato en privacidad es nuestra prioridad, que solo puedan contactar contigo,
                las personas que tienen lo que necesitas
            </p>
        </div>
    </div>
    <div class="card">
        <div class="face front">
            <img src="/img/foto1.jpg" alt="">
            <h3> Seguridad</h3>
        </div>
        <div class="face back">
            <h3>Trato</h3>
            <p>El trato en privacidad es nuestra prioridad, que solo puedan contactar contigo,
                las personas que tienen lo que necesitas
            </p>
        </div>
    </div>
    <div class="card">
        <div class="face front">
            <img src="/img/foto3.jpg" alt="">
            <h3> Confianza</h3>
        </div>
        <div class="face back">
            <h3>Trato</h3>
            <p>El trato en privacidad es nuestra prioridad, que solo puedan contactar contigo,
                las personas que tienen lo que necesitas
            </p>
        </div>
    </div>
    <div class="card">
        <div class="face front">
            <img src="/img/foto2.jpg" alt="">
            <h3> Trato</h3>
        </div>
        <div class="face back">
            <h3>Deseos</h3>
            <p>El trato en privacidad es nuestra prioridad, que solo puedan contactar contigo,
                las personas que tienen lo que necesitas
            </p>
        </div>
    </div>

</div>


<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script src="https://kit.fontawesome.com/c9ab963329.js" crossorigin="anonymous"></script>
</body>
</html>