<head th:replace="fragments/head-matches :: head"></head>

<header th:replace="fragments/navbar-logueado :: header"></header>
<html>

<body>
<div class="portada text-center mt-4 mb-5" style="color:white;">
    <h2 class="mt-5 ">Coincidencias</h2>
</div>
<div class="match mt-5">
    <div class="card">
        <img src="/img/partner.jpg" class="card-img-top" alt="Mi match">
        <div class="card-body">
            <h5 class="card-title">Partner</h5>
            <p class="card-text">Partner en excelentes condiciones.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item text-center" style="font-style: oblique ;" >Me interesa</li>
            <li class="list-group-item">terreno urbano</li>
            <li class="list-group-item">motocicleta</li>
            <li class="list-group-item">helicoptero apache</li>
        </ul>
    </div>
</div>

<div class="nido">
    <div class="tarjeta">
        <div class="face front">
            <img src="/img/partner.jpg" alt="">
            <h3> partner</h3>

        </div>
        <div class="face back">
            <h4>Arnold chuarseneger</h4>
            <img src="/img/arnold1.jpg" alt="">
            <p>La partner esta en wenas condiciones pero yo, estoy en mejores condiciones que la partner.
            </p>
            <a href="https://wa.me/1233222222" target="_blank"><i class="fa-brands fa-whatsapp" ></i></a>
        </div>
    </div>
    <div class="tarjeta">
        <div class="face front">
            <img src="/img/partner.jpg" alt="">
            <h3> partner</h3>

        </div>
        <div class="face back">
            <h4>Alfredo caseros</h4>
            <img src="/img/casero.jpg" alt="">
            <p>La partner esta en wenas condiciones pero yo, estoy en mejores condiciones que la partner.
            </p>
            <a href="https://wa.me/1233222222" target="_blank"><i class="fa-brands fa-whatsapp" ></i></a>

        </div>
    </div>
    <div class="tarjeta">
        <div class="face front">
            <img src="/img/partner.jpg" alt="">
            <h3> partner</h3>

        </div>
        <div class="face back">
            <h4>Arnold chuarseneger</h4>
            <img src="/img/arnold1.jpg" alt="">
            <p>La partner esta en wenas condiciones pero yo, estoy en mejores condiciones que la partner.
            </p>
            <a href="https://wa.me/1233222222" target="_blank"><i class="fa-brands fa-whatsapp" ></i></a>
        </div>
    </div>
    <div class="tarjeta">
        <div class="face front">
            <img src="/img/gol.jpg" alt="">
            <h3> partner</h3>

        </div>
        <div class="face back">
            <h4>Alfredo caseros</h4>
            <img src="/img/casero.jpg" alt="">
            <p>La partner esta en wenas condiciones pero yo, estoy en mejores condiciones que la partner.
            </p>
            <a href="https://wa.me/1233222222" target="_blank"><i class="fa-brands fa-whatsapp" ></i></a>

        </div>
    </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script src="https://kit.fontawesome.com/c9ab963329.js" crossorigin="anonymous"></script>
</body>
</html>