<head th:replace="fragments/head-logueado :: head"></head>

<header th:replace="fragments/navbar-logueado :: header"></header>
<!-- Page Content-->
<html>
<body>
<div>
    <div class="portada text-center mt-4">
        <h2 class="mt-5">Publicaciones</h2>
    </div>
    <div class="text-center">
    </div>
    <div class="container px-lg-5 mt-5" >
        <!-- Page Features-->
        <div class="row gx-lg-5">

            <div th:if="${listaPropiedad.isEmpty()}" class="alert alert-info alert-dismissible fade show" role="alert">
                No hay ningúna publicacion.
            </div>

            <div th:unless="${listaPropiedad.isEmpty()}" class="col-lg-4 col-xxl-4" th:each="propiedad : ${listaPropiedad}">
                <div class="card text-bg-warning mb-3">
                    <img th:src="${propiedad.foto} ? @{/uploads/__${propiedad.foto}__} : @{/uploads/fotodefault.jpg}" class="card-img-top" alt="Formato de imagen incompatible">
                    <div class="card-body">
                        <h5 class="card-title text-center" th:text="${propiedad.tipoPropiedad.nombre}"> </h5><!---->
                        <p class="card-text" th:text="${propiedad.descripcionCorta}"></p>
                    </div>

                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-center" style="font-style: oblique ;" >Lo cambio por:</li>
                        <li class="list-group-item" th:text="${propiedad.tipoDeseado1}"></li>
                        <li class="list-group-item" th:text="${propiedad.tipoDeseado2}"></li>
                        <li class="list-group-item"></li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</div>
</body>
<footer th:replace="fragments/footer :: footer"></footer>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script src="https://kit.fontawesome.com/c9ab963329.js" crossorigin="anonymous"></script>
</html>