<head th:replace="fragments/head :: head"></head>

<header th:replace="fragments/navbar-logueado :: header"></header>

<html>
<body>

<div class="container">
  <div class="row mt-5">
    <div class="col-md-8 offset-md-2">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="usuario-tab" data-bs-toggle="tab"
                  data-bs-target="#usuario-tab-pane" type="button" role="tab" aria-controls="usuario-tab-pane"
                  aria-selected="true">Datos del Usuario
          </button>
        </li>
        <li class="nav-item">
          <button class="btn btn-primary">
            <a class="nav-link" th:object="${objetoPerfil}" th:href="@{/perfiles/formulario-actualizar-perfil/__${objetoPerfil.id}__}" style="color: #fff"
            >Editar</a
            >
          </button>
        </li>
      </ul>
      <div class="tab-content mt-5" id="myTabContent">
        <div class="tab-pane fade show active" id="usuario-tab-pane" role="tabpanel"
             aria-labelledby="usuario-tab" tabindex="0">
          <div class="row mb-2">
            <div class="col-4">
              <img class="img-thumbnail"
                   src="http://www.manpower.com.ar/TemaPortalReclutamiento/themes/TemaPortalReclutamiento/css/comunidad.talento/img/icon_user.png"
                   alt="usuario">
            </div>

            <div class="col-8">

              <div class="form-group row mb-2">
                <label for="email" class="col-2">Email:</label>
                <div class="col-8">
                  <input type="email" class="form-control" th:value="${objetoPerfil.email}" disabled>
                </div>
              </div>
              <div class="form-group row mb-2">
                <label for="nombre" class="col-2">Nombre:</label>
                <div class="col-8">
                  <input type="text" class="form-control" th:value="${objetoPerfil.nombre}" disabled>
                </div>
              </div>
              <div class="form-group row mb-2">
                <label for="apellido" class="col-2">Apellido:</label>
                <div class="col-8">
                  <input type="text" class="form-control" th:value="${objetoPerfil.apellido}" disabled>
                </div>
              </div>
              <div class="form-group row mb-2">
                <label for="localidad" class="col-2">Localidad:</label>
                <div class="col-8">
                  <input type="text" class="form-control" th:value="${objetoPerfil.localidad}" disabled>
                </div>
              </div>
              <div class="form-group row mb-2">
                <label for="provincia" class="col-2">Provincia:</label>
                <div class="col-8">
                  <input type="text" class="form-control" th:value="${objetoPerfil.provincia.nombre}" disabled>
                </div>
              </div>
              <div class="form-group row mb-2">
                <label for="telefono" class="col-2">Telefono:</label>
                <div class="col-8">
                  <input type="number" class="form-control" th:value="${objetoPerfil.telefono}" disabled>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


<footer th:replace="fragments/footer :: footer"></footer>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script src="https://kit.fontawesome.com/c9ab963329.js" crossorigin="anonymous"></script>
</body>
</html>

