<head th:replace="fragments/head-matches :: head"></head>

<header th:replace="fragments/navbar-logueado :: header"></header>
<html>

<body>
<div class="portada text-center mt-4 mb-5" style="color:white;">
    <h2 class="mt-5 ">Coincidencias</h2>
</div>
<div class="match mt-5">
    <div class="card">
        <img th:src="${PublicacionPerfil.foto} ? @{/uploads/__${PublicacionPerfil.foto}__} : @{/uploads/fotodefault.jpg}" class="card-img-top" alt="🖤 Thymeleaf 🖤">
        <div class="card-body">
            <h5 class="card-title" th:text="${PublicacionPerfil.tipo.nombre}"></h5>
            <p class="card-text" th:text="${PublicacionPerfil.descripcionCorta}"></p>
            <p class="card-text" th:text="${PublicacionPerfil.descripcion}"></p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item text-center" style="font-style: oblique ;" >Lo cambio por</li>
            <li class="list-group-item" th:text="${PublicacionPerfil.tipoDeseado1}"></li>
            <li class="list-group-item" th:text="${PublicacionPerfil.tipoDeseado2}"></li>
        </ul>
    </div>
</div>

<div class="nido">
    <div class="tarjeta" th:each="publicacion : ${listaPublicaionMachOfertaPerfil}">
        <div class="face front">
            <img th:src="${publicacion.perfil.foto} ? @{/uploads/__${publicacion.foto}__} : @{/uploads/fotodefault.jpg}" class="card-img-top" alt="🖤 Thymeleaf 🖤">
            <h3 th:text="${publicacion.tipo.nombre}"></h3>
            <h5 th:text="${publicacion.descripcionCorta}"></h5>

        </div>
        <div class="face back">
            <h4 th:text="|${publicacion.perfil.nombre} ${publicacion.perfil.apellido}|"></h4>
            <img th:src="${publicacion.perfil.foto} ? @{/uploads/__${publicacion.perfil.foto}__} : @{/uploads/fotodefault.jpg}" class="card-img-top" alt="🖤 Thymeleaf 🖤">
            <p th:text="${publicacion.descripcion}">
            </p>
            <a th:href="|https://wa.me/${publicacion.perfil.telefono}|" target="_blank"><i class="fa-brands fa-whatsapp" ></i></a>
        </div>
    </div>

</div>
<footer th:replace="fragments/footer :: footer"></footer>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script src="https://kit.fontawesome.com/c9ab963329.js" crossorigin="anonymous"></script>
</body>
</html>