<head th:replace="fragments/head :: head"></head>

<header th:replace="fragments/navbar-logueado :: header"></header>

<html>
<body>

<main>
  <div class="container">
    <div class="row mt-5">
      <div class="col">

        <div th:if="${listaTodoTipo.isEmpty()}">
          <h4>Aun no hay tipos de vehiculos o propiedades registradas</h4>
        </div>
        <a class="nav-link" role="button" th:href="@{/tipos/formulario-insertar}">Insertar tipologia</a>
        <div th:unless="${listaTodoTipo.isEmpty()}" class="table-responsive">
          <table class="table table-hover table-bordered table-dark">
            <thead>
            <tr class="table-purple">
              <th>Id</th>
              <th>Nombre</th>
              <th>Eliminar</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tipo:${listaTodoTipo}">
              <td th:text="${tipo.id}"></td>
              <td th:text="${tipo.nombre}"></td>
              <td>
                <form th:action="${tipo.eliminado} ? @{/tipos/restablecer/__${tipo.id}__} : @{/tipos/eliminar/__${tipo.id}__}" method="POST">
                  <button type="submit" class="btn btn-danger" th:text="${tipo.eliminado} ? 'Restablecer' : 'Eliminar'"></button>
                </form>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>


<footer th:replace="fragments/footer :: footer"></footer>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script src="https://kit.fontawesome.com/c9ab963329.js" crossorigin="anonymous"></script>
</body>
</html>

