<head th:replace="fragments/head-logueado :: head"></head>

<header th:replace="fragments/navbar-logueado :: header"></header>
<html>
<body>
<div>
    <div class="portada text-center mt-4">
        <h2 class="mt-5">Propiedades</h2>
    </div>
    <div class="text-center">
    </div>
    <div class="container px-lg-5 mt-5" >
        <!-- Page Features-->
        <div class="row gx-lg-5">
            <div class="col-lg-4 col-xxl-4">

                <div class="card">
                    <img src="/img/terreno.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quicd on the cardhe bulk of the card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-center" style="font-style: oblique ;" >Me interesa</li>
                        <li class="list-group-item">terreno urbano</li>
                        <li class="list-group-item">motocicleta</li>
                        <li class="list-group-item">helicoptero apache</li>
                    </ul>

                </div>
            </div>
            <div class="col-lg-4 col-xxl-4">

                <div class="card" >
                    <img src="/img/terreno.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Gol Trend</h5>
                        <p class="card-text">En realidad no se si es un gol trend pero bueno</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-center" style="font-style: oblique">Me interesa</li>
                        <li class="list-group-item">terreno urbano</li>
                        <li class="list-group-item">motocicleta</li>
                        <li class="list-group-item">helicoptero apache</li>
                    </ul>

                </div>
            </div>
            <div class="col-lg-4 col-xxl-4 ">

                <div class="card" >
                    <img src="/img/terreno.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">partner</h5>
                        <p class="card-text">Ni idea si es una partner o no o que es que es no se.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-center" style="font-style: oblique">Me interesa</li>
                        <li class="list-group-item">terreno urbano</li>
                        <li class="list-group-item">motocicleta</li>
                        <li class="list-group-item">helicoptero apache</li>
                    </ul>

                </div>
            </div>
            <div class="col-lg-4 col-xxl-4">

                <div class="card" >
                    <img src="/img/terreno.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-center" style="font-style: oblique">Me interesa</li>
                        <li class="list-group-item">terreno urbano</li>
                        <li class="list-group-item">motocicleta</li>
                        <li class="list-group-item">helicoptero apache</li>
                    </ul>

                </div>
            </div>

            <div class="col-lg-4 col-xxl-4">

                <div class="card">
                    <img src="/img/terreno.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-center" style="font-style: oblique">Me interesa</li>
                        <li class="list-group-item">terreno urbano</li>
                        <li class="list-group-item">motocicleta</li>
                        <li class="list-group-item">helicoptero apache</li>
                    </ul>

                </div>
            </div>
            <div class="col-lg-4 col-xxl-4">

                <div class="card">
                    <img src="/img/terreno.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-center" style="font-style: oblique">Me interesa</li>
                        <li class="list-group-item">terreno urbano</li>
                        <li class="list-group-item">motocicleta</li>
                        <li class="list-group-item">helicoptero apache</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<footer th:replace="fragments/footer :: footer"></footer>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script src="https://kit.fontawesome.com/c9ab963329.js" crossorigin="anonymous"></script>
</html>